body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('background2.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 20px;
}

.btn {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  padding: 14px;
  border-radius: 10px;
  background: #1D6F42;
  color: white;
  font-weight: 500;
}

button.btn {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 14px;
  border-radius: 10px;
  background: #1D6F42;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.back {
  background: #555;
}
